# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules


# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*


# Miscellaneous
/.angular/cache
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
.angular/cache/19.0.4/news-inc/vite/deps/@angular_router.js.map
.angular/cache/19.0.4/news-inc/.tsbuildinfo
.angular/cache/19.0.4/news-inc/vite/deps/_metadata.json
.angular/cache/19.0.4/news-inc/vite/deps/@angular_core.js
.angular/cache/19.0.4/news-inc/vite/deps/@angular_platform-browser.js
.angular/cache/19.0.4/news-inc/vite/deps/@angular_router.js
.angular/cache/19.0.4/news-inc/vite/deps/@angular_router.js.map
