<div class="grid-container">
  <mat-toolbar>
    <mat-button-toggle-group
      #group="matButtonToggleGroup"
      (change)="toggleStories($event)"
      aria-label="News Type"
    >
      <mat-button-toggle checked value="top" aria-label="Show Top Stories">
        Top Stories
      </mat-button-toggle>
      <mat-button-toggle value="new" aria-label="Show New Stories">
        New Stories
      </mat-button-toggle>
    </mat-button-toggle-group>
  </mat-toolbar>
  <mat-grid-list [cols]="gridCols" [rowHeight]="rowheight">
    @for (story of stories; track story.id) {
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <mat-card class="story-card">
        <mat-card-header class="story-card-header">
          <div class="story-card-time" aria-label="Story Age">
            {{ story.time | timeDifference }} ago
          </div>
          <div class="story-card-score" aria-label="Story Points">
            {{ story.score }} {{ story.score === 1 ? "point" : "points" }}
          </div>
        </mat-card-header>
        <mat-card-content class="story-card-content">
          <a
            [href]="story.url"
            target="_blank"
            rel="noopener noreferrer"
            class="story-card-title-link"
            tabindex="0"
            role="link"
            aria-label="Story Title"
            >{{ story.title }}
          </a>

          @if(story.text) {
          <div class="story-card-text" aria-label="Story Text">
            {{ story.text }}
          </div>
          }
        </mat-card-content>

        <mat-card-footer class="story-card-footer">
          <span aria-label="Story Orginated From">{{
            extractDomainFromUrl(story.url)
          }}</span>

          <span aria-label="Story By" class="icon-text">
            <mat-icon>account_circle</mat-icon>
            {{ story.by }}
          </span>
          <span aria-label="Number of Story Comments" class="icon-text">
            <mat-icon>comment</mat-icon>
            {{ story.descendants ? story.descendants : 0 }}
          </span>
        </mat-card-footer>
      </mat-card>
    </mat-grid-tile>

    } @if (stories.length === 0 && !loading) {
    <p class="text-lg">Sorry, no stories found.</p>
    }
  </mat-grid-list>
  <mat-paginator
    [length]="storyIds.length"
    [pageSize]="PAGE_SIZE"
    (page)="onPage($event)"
    aria-label="Select page"
  ></mat-paginator>
</div>
