.grid-container {
  margin: 50px 10px 10px 10px;
  background-color: FAF9FD;
}

.story-card {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}
.story-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-shrink: 0;
  margin-bottom: 10px;
}
.story-card-content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: calc(100% - 60px);
  flex-grow: 1;
  overflow: auto;
  font-size: large;
  font-weight: 500;
}
.story-card-time {
  font-size: small;
  font-style: italic;
  flex: 1;
  text-transform: uppercase;
}
.story-card-text {
  font-size: x-small;
  font-weight: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
}
.story-card-title-link {
  display: block;
  text-decoration: none;
  color: black;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: wrap;
  max-width: 100%;
  flex-shrink: 0;
}
.story-card-score {
  font-size: small;
  text-transform: uppercase;
}

.story-card-comments {
  text-align: center;
}
.story-card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 10px 10px 10px;
  font-size: small;
}
mat-card {
  background-color: white;
}
.icon-text {
  display: inline-flex; /* Ensures the span adjusts to its content */
  align-items: center;
  gap: 4px;
}
